<div class="bar" [class.show]="!isBarHidden">
  <div class="large-screen">
    <a *ngIf="menuItemList" class="logo"
      [routerLink]="[menuItemList[0].route]"
      [fragment]="menuItemList[0].fragment"
      (click)="onAnchorClick(menuItemList[0].fragment)">
    </a>
    <a *ngFor="let menuItem of menuItemList"
      [routerLink]="[menuItem.route]"
      [fragment]="menuItem.fragment"
      (click)="menuItem.fragment ? onAnchorClick(menuItem.fragment) : null"
      class="menu-item">
      <span>{{menuItem.name}}</span>
    </a>

    <div *ngIf="appConfig" class="social-list">
      <a class="social youtube" [href]="appConfig.youtubeUrl"></a>
      <a class="social instagram" [href]="appConfig.instagramUrl"></a>
      <a class="social facebook" [href]="appConfig.facebookUrl"></a>
    </div>
  </div>
  <div class="small-screen">
    <button class="menu-button" (click)="onClickBurger()"></button>
    <div class="logo-center"></div>
  </div>
</div>
