@import '../theme.scss';

:host {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 0;

  .bar {
    position: relative;
    width: 100%;
    background-color: $second-color;
    height: 70px;
    border-bottom: 1px solid $first-color;
    top: 0px;
    transition: all 1s;
  }

  .small-screen {
    display: block;
    height: inherit;

    .menu-button {
      @include image($burger, 70px, 50px);
      float: left;
      height: 50px;
      width: 70px;
      margin: 10px;
      border: 0;
      vertical-align: middle;
    }

    .logo-center {
      @include image($logo-mini, 90px, auto);
      position: relative;
      width: 150px;
      height: 100%;
      left: calc(50% - 75px);
    }
  }

  .large-screen {
    display: none;
  }

  @media screen and (min-width: $screen-md-min){
    .bar {
      top: -70px;
      background-color: $black-transp;

      &.show {
        top: 0;
      }
    }

    .small-screen {
      display: none;
    }

    .large-screen {
      display: block;
      height: inherit;

      .logo {
        @include image($logo-mini, auto, 100%);
        position: relative;
        display: inline-block;
        top: -10px;
        height: 130%;
        width: 100px;
        margin: 0 50px;
      }

      .menu-item {
        display: inline-block;
        color: $first-color;
        height: 70px;
        width: 10%;
        text-align: center;
        vertical-align: top;
        border-left: 1px solid $first-color;
        margin-left: -5px;
        text-decoration: none;

        span {
          font-family: $main-bar-font;
          font-weight: bold;
          line-height: 70px;
          font-size: 1.5em;
        }

        &:hover {
          color: $second-color;
          background-color: $first-color;
        }
      }

      .social-list{
        float: right;
      }
    }
  }
}
