$logo : url("/assets/image/logo/logo-border.png");
$logo-negatif : url("/assets/image/logo/logo-negatif.png");
$logo-mini : url("/assets/image/logo/appli06.png");

$facebook : url("/assets/image/icon/facebook-black-white.svg");
$instagram : url("/assets/image/icon/instagram-black-white.svg");
$youtube : url("/assets/image/icon/youtube-black-white.svg");
$flash : url("/assets/image/icon/cameraflash.png");
$arrow-up : url("/assets/image/icon/arrow-up.png");
$burger : url("/assets/image/icon/burger.png");

$slideshow1 : url("/assets/image/picture/_dsc0466.jpg");
$slideshow2 : url("/assets/image/picture/_dsc8568.jpg");
$slideshow3 : url("/assets/image/picture/_dsc0570.jpg");
$category1 : url("/assets/image/picture/_dsc0565.jpg");
$category2 : url("/assets/image/picture/_dsc7085.jpg");
$category3 : url("/assets/image/picture/_dsc0097.jpg");
$category4 : url("/assets/image/picture/_dsc3930.jpg");
$category5 : url("/assets/image/picture/_dsc0442.jpg");
$about : url("/assets/image/picture/_dsc0763.jpg");


@mixin image($img, $width, $height) {
  background: $img no-repeat center;
  background-size: $width $height;
}
