$logo : url("../../assets/image/logo-border.png");
$logo-negatif : url("../../assets/image/logo-negatif.png");

$background-welcome : url("../../assets/image/_DSC0263.jpg");
$flash : url("../../assets/image/cameraflash.png");

$slideshow1 : url("../../assets/image/_DSC0466.jpg");
$slideshow2 : url("../../assets/image/_DSC8568.jpg");
$slideshow3 : url("../../assets/image/_DSC0570.jpg");

$arrow-up : url("../../assets/image/arrow-up.png");
