$logo : url("../../assets/image/logo.png");
$logo-negatif : url("../../assets/image/logo-negatif.png");

$background-welcome : url("../../assets/image/_DSC1048.jpg");
$flash : url("../../assets/image/cameraflash.png");

$slideshow1 : url("../../assets/image/_DSC0466.jpg");
$slideshow2 : url("../../assets/image/_DSC8568.jpg");
$slideshow3 : url("../../assets/image/_DSC0570.jpg");
