<div class="gallery-menu">
  <div class="title">
    Categories
  </div>
  <div class="category" (click)="switchCategoryVisibility(null)" [class.selected]="showedCategory === null">
    Tout
  </div>
  <div class="category" *ngFor="let category of categories" (click)="switchCategoryVisibility(category)" [class.selected]="category === showedCategory">
    {{category.name}}
  </div>
  <select [ngModel]="showedCategory" (ngModelChange)="switchCategoryVisibility($event)">
    <option [ngValue]="null">Tout</option>
    <option *ngFor="let category of categories" [ngValue]="category">
      {{category.name}}
    </option>
  </select>
</div>

<div class="gallery-content">
  <div class="block">
    <ng-container *ngFor="let picture of pictures">
      <div *ngIf="picture.isShowed"
        [style.background-image]="picture.url"
        (click)="onClickPicture(picture)"></div>
    </ng-container>
  </div>
</div>

<div *ngIf="bigPicture" class="big-picture" (click)="closePicture()">
   <div class="picture" [style.background-image]="bigPicture.url" (click)="$event.stopPropagation()">
     <div class="arrow previous" (click)="changePicture(false)">
       <span><</span>
      </div>
     <div class="arrow next" (click)="changePicture(true)">
        <span>></span>
      </div>
     <div class="croix" (click)="closePicture()">x</div>
   </div>
</div>
