@import '../shared/theme.scss';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
  }
}

.gallery-menu {
  flex: 0 0 20px;
  background-color: $second-color;
  padding: 30px;
  color: $first-color;
  text-align: center;

  @media screen and (min-width: $screen-md-min) {
    flex: 0 0 240px;
    border-right: 1px solid $first-color;
    text-align: left;
  }

  .title {
    font-family: $title-font;
    font-size: 20px;
    text-align: center;
    display: inline-block;

    @media screen and (min-width: $screen-md-min) {
      display: block;
      font-size: 30px;
      padding-bottom: 15px;
    }
  }

  .category {
    font-family: $content-font;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    display: none;

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }

    &::first-letter{
      text-transform: uppercase;
    }

    &.selected {
      background-color: $first-color;
      color: $second-color;
      border-radius: 20px;
      padding: 5px 10px;
    }
  }

  select {
    margin: auto;
    display: inline-block;
    border: 1px solid $second-color;
    border-radius: 20px;
    height: 30px;
    font-family: $content-font;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
    margin-left: 20px;

    @media screen and (min-width: $screen-md-min) {
      display: none;
    }

    &:focus {
      outline: 0;
    }
    option {
      font-weight: bold;
    }
  }
}

.gallery-content {
  flex: 1;
  overflow: auto;

  .block {
    div {
      overflow: hidden;
      position: relative;
      display: inline-block;
      height: 300px;
      width: 100%;
      border: 1px solid $second-color;
      box-sizing: border-box;
      margin-right: -4px;
      margin-bottom: -4px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translate3d(0, 0, 1px);

      @media screen and (min-width: $screen-md-min) {
        width: 50%;
      }

      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% / 3);
      }
    }
  }
}

.big-picture {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $white-transp;
  display: none;

  @media screen and (min-width: $screen-md-min) {
    display: unset;
  }

  .picture {
    max-height: calc(100% - 70px);
    height: 600px;
    width: 800px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-color: $second-color;
    border-radius: 20px;

    @media screen and (min-width: $screen-lg-min) {
      height: 800px;
      width: 1200px;
    }

    .arrow {
      height: 100%;
      font-size: 40px;
      color: $first-color;
      background-color: $black-transp;
      display: table;
      padding: 0 10px;

      &.previous {
        float: left;
        border-radius: 20px 0 0 20px;
      }

      &.next {
        float: right;
        border-radius: 0 20px 20px 0;
      }

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .croix {
      background-color: $second-color;
      color: $first-color;
      border: 3px solid $first-color;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      padding: 0 8px;
      line-height: 30px;
      font-family: $title-font;
      font-weight: bold;
      box-sizing: border-box;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      user-select: none;
    }
  }
}
