<div class="bar">
  <img class="logo" src="../../../assets/image/appli06.png"/>
  <div class="menu-item">
    <span>Accueil</span>
  </div>
  <div class="menu-item">
    <span>Gallerie</span>
  </div>
  <div class="menu-item">
    <span>Offre</span>
  </div>
  <div class="menu-item">
    <span>Blog</span>
  </div>
  <div class="menu-item">
    <span>Contact</span>
  </div>

  <div class="social">
    <a href="https://www.youtube.com/channel/UCh_K4rAA8CEzAu6pK-2gPHQ">
      <img src="../../../assets/image/youtube-black-white.svg"/>
    </a>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/momen_time/">
      <img src="../../../assets/image/instagram-black-white.svg"/>
    </a>
  </div>
  <div class="social">
    <a href="https://www.facebook.com/momen.time.imagez.vous/">
      <img src="../../../assets/image/facebook-black-white.svg"/>
    </a>
  </div>
</div>
