@import './shared/theme.scss';

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.show-bar {
    top: 70px;
  }

  @media screen and (min-width: $screen-md-min){
    &.show-bar {
      &:not(.always-open) {
        top: 0;
      }
    }
  }
}
