<div id="home-slider" class="home-slider">
  <div class="menu">
    <div class="logo"></div>
    <div *ngFor="let anchor of anchorList" class="menu-item">
        <a (click)="onAnchorClick(anchor.fragment)">
          {{anchor.name}}
        </a>
    </div>
  </div>
  <div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
  </div>
</div>

<div *ngIf="homeText?.presentationTitle" id="presentation" class="presentation">
  <div class="block">
    <h1>{{homeText.presentationTitle}}</h1>
    <p>{{homeText.presentationText}}</p>
  </div>
</div>

<div *ngIf="homeText?.portfolioTitle" id="portfolio" class="portfolio">
  <h1>{{homeText.portfolioTitle}}</h1>
  <div *ngFor="let category of categories" class="category" (click)="navigateToGallery(category)" [style.background-image]="category.firstPic">
    <div>{{category.name}}</div>
  </div>
</div>

<div *ngIf="homeText?.pricingPhotoTitle || homeText?.pricingLessonTitle" id="pricing" class="pricing">
  <div *ngIf="homeText.pricingPhotoTitle" class="content-pricing">
    <h1>{{homeText.pricingPhotoTitle}}</h1>
    <p>{{homeText.pricingPhotoText}}</p>
    <button [routerLink]="['/accueil']" fragment="contact" (click)="onAnchorClick('contact')">{{homeText.pricingButton}}</button>
  </div>
  <div class="content-pricing">
    <h1>{{homeText.pricingLessonTitle}}</h1>
    <p>{{homeText.pricingLessonText}}</p>
    <button [routerLink]="['/accueil']" fragment="contact" (click)="onAnchorClick('contact')">{{homeText.pricingButton}}</button>
  </div>
</div>

<div *ngIf="homeText?.aboutTitle" id="about" class="about">
  <div class="block">
    <div class="about-content">
      <h1>{{homeText.aboutTitle}}</h1>
      <p>{{homeText.aboutText}}</p>
      <p class="signature">{{homeText.aboutSignature}}</p>
    </div>
  </div>
</div>

<div id="testimony" class="testimony">
  <div class="block">
    <h1>Temoignages</h1>
    <div class="carousel">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Femeline.lecat%2Fposts%2F1506463882744255%3A0&width=500" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FoOCharlotte%2Fposts%2F10158000438635074%3A0&width=500" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D226015297814500%26id%3D100012180934495%26substory_index%3D0&width=500" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffanny.bertin1%2Fposts%2F10207626083506025%3A0&width=500" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdaphne.coppola%2Fposts%2F10216054920661059%3A0&width=500" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>

<div *ngIf="homeText?.contactTitle" id="contact" class="contact">
  <div class="block">
    <h1>{{homeText.contactTitle}}</h1>
    <p>{{homeText.contactAddress}}</p>
    <p>{{homeText.contactSite}}</p>
    <div class="contact-form">
      <div class="left">
        <input [(ngModel)]="email.from" name="email" type="email" placeholder="Votre Email *" required>
        <input [(ngModel)]="email.tel" name="phone" type="tel" placeholder="Votre Numéro de Téléphone *" required>
        <input [(ngModel)]="email.subject" name="subject" type="text" placeholder="Objet du Message *" required>
      </div>
      <div class="right">
        <textarea [(ngModel)]="email.text" name="message" placeholder="Votre Message ... *" required></textarea>
      </div>
    </div>
    <p *ngIf="mailMessage">{{mailMessage}}</p>
    <button (click)="sendEmail()" class="send">{{homeText.contactButton}}</button>
  </div>
</div>

<div *ngIf="homeText?.followTitle" class="follow">
  <h1>{{homeText.followTitle}}</h1>

  <div *ngIf="appConfig" class="social-list">
    <a class="social youtube" [href]="appConfig.youtubeUrl"></a>
    <a class="social instagram" [href]="appConfig.instagramUrl"></a>
    <a class="social facebook" [href]="appConfig.facebookUrl"></a>
  </div>
</div>

<div *ngIf="homeText?.footerRights || homeText?.footerDeveloped" class="footer">
  <p>{{homeText.footerRights}}</p>
  <p>{{homeText.footerDeveloped}}</p>
</div>
