<div class="panel" [class.show]="!isPanelHidden">
  <a *ngFor="let menuItem of menuItemList"
    [routerLink]="[menuItem.route]"
    [fragment]="menuItem.fragment"
    class="panel-item"
    (click)="menuItem.fragment ? onAnchorClick(menuItem.fragment) : onClickItem()">
    <span>{{menuItem.name}}</span>
    <span class="arrow">></span>
  </a>

  <div *ngIf="appConfig" class="social-list">
    <a class="social youtube" [href]="appConfig.youtubeUrl"></a>
    <a class="social instagram" [href]="appConfig.instagramUrl"></a>
    <a class="social facebook" [href]="appConfig.facebookUrl"></a>
  </div>
</div>
