/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Raisin des Sables";
  src: url("assets/font/Raisin-des-Sables.eot");
  src: url("assets/font/Raisin-des-Sables.woff2") format('woff2'),
    url("assets/font/Raisin-des-Sables.woff") format('woff'),
    url("assets/font/Raisin-des-Sables.ttf") format('truetype');
}

@font-face {
  font-family: "KG Somebody That I Used To Know";
  src: url("assets/font/KGSomebodyThatIUsedToKnow.eot");
  src: url("assets/font/KGSomebodyThatIUsedToKnow.woff2") format('woff2'),
    url("assets/font/KGSomebodyThatIUsedToKnow.woff") format('woff'),
    url("assets/font/KGSomebodyThatIUsedToKnow.ttf") format('truetype');
}

@font-face {
  font-family: "She Always Walks Alone Demo";
  src: url("assets/font/She-Always-Walks-Alone-Demo.eot");
  src: url("assets/font/She-Always-Walks-Alone-Demo.woff2") format('woff2'),
    url("assets/font/She-Always-Walks-Alone-Demo.woff") format('woff'),
    url("assets/font/She-Always-Walks-Alone-Demo.ttf") format('truetype');
}

body {
  overflow: hidden;
  margin: 0;
  background: url("/assets/image/picture/content/background.jpg") no-repeat fixed center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

html {
  height: 100vh;
}
