<div class="panel" [class.show]="!isPanelHidden">
  <div class="panel-item">
    <span>Accueil</span>
  </div>
  <div class="panel-item">
    <span>Gallerie</span>
  </div>
  <div class="panel-item">
    <span>Offre</span>
  </div>
  <div class="panel-item">
    <span>Blog</span>
  </div>
  <div class="panel-item">
    <span>Contact</span>
  </div>

  <div class="social-list">
    <a class="social youtube" href="https://www.youtube.com/channel/UCh_K4rAA8CEzAu6pK-2gPHQ"></a>
    <a class="social instagram" href="https://www.instagram.com/momen_time/"></a>
    <a class="social facebook" href="https://www.facebook.com/momen.time.imagez.vous/"></a>
  </div>
</div>
