<div id="home-slider" class="home-slider">
  <div class="menu">
    <div class="logo"></div>
    <div class="menu-item">
        <a [routerLink]="['/accueil']" fragment="presentation" (click)="onAnchorClick()">Presentation</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="portfolio" (click)="onAnchorClick()">Gallerie</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="pricing" (click)="onAnchorClick()">Offre</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="about" (click)="onAnchorClick()">A Propos</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="contact" (click)="onAnchorClick()">Contact</a>
    </div>
  </div>
  <div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
  </div>
</div>
<div id="presentation" class="presentation">
  <div class="block">
    <span>Presentation</span>
    <p>
      Bienvenue sur Momen'time ! Ce site est dédié aux passionnés de photographie mais également aux personnes à la recherche d'un photographe.
      Vous trouverez ici certains des clichés que j'ai pu réaliser, mon blog autour de la photographie et également l'offre que je propose pour
      photographier vos évènements ou pour vous en apprendre plus sur la photographie.
    </p>
  </div>
</div>
<div id="portfolio" class="portfolio">
  <span>Gallerie</span>
  <div class="category">
    <div>Noir & Blanc</div>
  </div>
  <div class="category">
    <div>Portrait</div>
  </div>
  <div class="category">
    <div>Paysage</div>
  </div>
  <div class="category">
    <div>Evènement</div>
  </div>
  <div class="category">
    <div>Famille</div>
  </div>
  <div class="category">
    <div>Couleur</div>
  </div>
</div>
<div id="pricing" class="pricing">
  <div class="content-pricing">
    <div class="title-pricing">Photographie</div>
    <p>
      Envie d'un photographe pour un évènement, un portrait ou des photos en famille ?<br/>
      Renseignez-vous ici avant de me contacter.
    </p>
    <button>Voir les prix</button>
  </div>
  <div class="content-pricing">
    <div class="title-pricing">Cours</div>
    <p>
      Vous souhaitez compléter vos connaissance en photographie ou commencer tout simplement ?<br/>
      Je peux vous donner des cours, contactez-moi !
    </p>
    <button>Voir les prix</button>
  </div>
</div>
<div id="about" class="about">
  <div class="block">
    <div class="about-content">
      <span>A Propos</span>
      <p>
        Pour moi, la photo n'est pas là pour capturer un instant mais davantage pour interpreter un moment. Travailler toujours plus pour pouvoir
        restituer aux autres ma sensibilité du monde. C'est cette philosophie qui anime ma créativité. En d'autres termes, mes photos se veulent à
        l'exact image de ce que j'ai pu vivre durant une rencontre avec de jeunes parents fiers de leur progéniture, d'un marié en plein essayage
        de son costume avant d'aller à la mairie ou bien encore d'une ville grouillante qui respire à l'autre bout du monde.
      </p>
      <p class="signature">
        Edouard Delaunay <br/>
        Photographe et Auto-entrepreneur
      </p>
    </div>
  </div>
</div>
<div id="contact" class="contact">
  <div class="block">
    <span>Contact</span>

  </div>
</div>

<div class="follow">

</div>

<div class="footer">

</div>

<div class="arrow" [class.show]="!isArrowHidden" (click)="scrollTop()"></div>
