<div id="home-slider" class="home-slider">
  <div class="menu">
    <div class="logo"></div>
    <div class="menu-item">
        <a [routerLink]="['/accueil']" fragment="presentation" (click)="onAnchorClick()">Presentation</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="portfolio" (click)="onAnchorClick()">Gallerie</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="pricing" (click)="onAnchorClick()">Offre</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="about" (click)="onAnchorClick()">A Propos</a>
    </div>
    <div class="menu-item">
      <a [routerLink]="['/accueil']" fragment="contact" (click)="onAnchorClick()">Contact</a>
    </div>
  </div>
  <div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
  </div>
</div>

<div id="presentation" class="presentation">
  <div class="block">
    <h1>Presentation</h1>
    <p>
      Bienvenue sur Momen'time ! Ce site est dédié aux passionnés de photographie mais également aux personnes à la recherche d'un photographe.
      Vous trouverez ici certains des clichés que j'ai pu réaliser, mon blog autour de la photographie et également l'offre que je propose pour
      photographier vos évènements ou pour vous en apprendre plus sur la photographie.
    </p>
  </div>
</div>

<div id="portfolio" class="portfolio">
  <h1>Gallerie</h1>
  <div class="category cat1">
    <div>Le Grand Jour</div>
  </div>
  <div class="category cat2">
    <div>Le Coin des Enfants</div>
  </div>
  <div class="category cat3">
    <div>Entre Ville et Nature</div>
  </div>
  <div class="category cat4">
    <div>Bientôt Un de Plus</div>
  </div>
  <div class="category cat5">
    <div>Soyez vous-même</div>
  </div>
  <div class="category cat6">
    <div>Bienvenue à l'Expo</div>
  </div>
</div>

<div id="pricing" class="pricing">
  <div class="content-pricing">
    <h1>Photographie</h1>
    <p>
      Envie d'un photographe pour un évènement, un portrait ou des photos en famille ?<br/>
      Renseignez-vous ici avant de me contacter.
    </p>
    <button>En savoir plus</button>
  </div>
  <div class="content-pricing">
    <h1>Cours</h1>
    <p>
      Vous souhaitez compléter vos connaissance en photographie ou commencer tout simplement ?<br/>
      Je peux vous donner des cours, contactez-moi !
    </p>
    <button>En savoir plus</button>
  </div>
</div>
<div id="about" class="about">
  <div class="block">
    <div class="about-content">
      <h1>A Propos</h1>
      <p>
        Pour moi, la photo n'est pas là pour capturer un instant mais davantage pour interpreter un moment. Travailler toujours plus pour pouvoir
        restituer aux autres ma sensibilité du monde. C'est cette philosophie qui anime ma créativité. En d'autres termes, mes photos se veulent à
        l'exact image de ce que j'ai pu vivre durant une rencontre avec de jeunes parents fiers de leur progéniture, d'un marié en plein essayage
        de son costume avant d'aller à la mairie ou bien encore d'une ville grouillante qui respire à l'autre bout du monde.
      </p>
      <p class="signature">
        Edouard Delaunay <br/>
        Photographe
      </p>
    </div>
  </div>
</div>

<div id="contact" class="contact">
  <div class="block">
    <h1>Contact</h1>
    <p>contact@contact.com</p>
    <p>http://www.momentime.com</p>
    <div class="contact-form">
      <div class="left">
        <input name="name" type="text" placeholder="Votre Nom *" required>
        <input name="email" type="email" placeholder="Votre Email *" required>
        <input name="phone" type="tel" placeholder="Votre Numéro de Téléphone *" required>
      </div>
      <div class="right">
        <textarea name="message" placeholder="Votre Message ... *" required></textarea>
      </div>
    </div>
    <button class="send">Envoyer</button>
  </div>
</div>

<div class="follow">
  <h1>>> Suivez-moi <<</h1>

  <div class="social-list">
    <a class="social youtube" href="https://www.youtube.com/channel/UCh_K4rAA8CEzAu6pK-2gPHQ"></a>
    <a class="social instagram" href="https://www.instagram.com/momen_time/"></a>
    <a class="social facebook" href="https://www.facebook.com/momen.time.imagez.vous/"></a>
  </div>
</div>

<div class="footer">
  <p>Momentime. Tout droits réservés</p>
  <p>Développé par Cyril Lefebvre supporté par Angular</p>
</div>

<div class="arrow" [class.show]="!isArrowHidden" (click)="scrollTop()"></div>
