@import '../shared/crossfade.scss';
@import '../shared/images.scss';
@import '../shared/theme.scss';

.block {
  max-width: 1000px;
  margin: auto;
}

p {
  font-family: "KG Somebody That I Used To Know";
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 0;
}

.home-slider{
  height: 800px;
  background-color: #0a0a0a;

  .crossfade {
    figure {
      animation: imageAnimation 18s linear infinite 0s;

      &:nth-child(1) {
        background-image: $slideshow1;
      }
      &:nth-child(2) {
        animation-delay: 6s;
        background-image: $slideshow2;
      }
      &:nth-child(3) {
        animation-delay: 12s;
        background-image: $slideshow3;
      }
    }
  }

  .menu {
    position: absolute;
    left: 5%;
    width: 20%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    padding: 50px 0;

    .logo{
      @include image($logo-negatif, 100%, auto);
      position: relative;
      width: 120%;
      height: 200px;
      left: -10%;
      margin-bottom: 30px;
    }

    .menu-item {
      text-align: center;
      margin: 10px 0;
      a{
        font-family: "KG Somebody That I Used To Know";
        font-weight: bold;
        color: white;
        text-decoration: none;
        font-size: 1.8em;
      }
    }
  }
}

.presentation {
  overflow: auto;
  background-color: rgb(30,30,30);
  color: white;
  padding: 50px;

  span {
    font-size: 3em;
  }
}

.portfolio {
  overflow: auto;
  font-size: 0;
  background-color: white;

  span {
    display: block;
    font-size: 3rem;
    margin-top: 30px;
    text-align: center;
  }

  .category {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;

    @media screen and (min-width: $screen-md-min) {
      width: 50%;
    }

    @media screen and (min-width: $screen-lg-min) {
      width: 33.33%;
    }

    div {
      position: absolute;
      line-height: 80px;
      width: 100%;
      background: rgba(255, 255, 255, 0.3);
      text-align: center;
      font-size: 2rem;
      top: 100%;
      transition: all 1s;
    }

    &:hover {
      div {
        top: calc(50% - 40px);
      }
    }
  }
}

.pricing {
  overflow: auto;
  color: white;
  font-size: 0;
  background: #0a0a0a;

  .content-pricing {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    height: 402px;
    vertical-align: top;
    font-size: 1rem;

    @media screen and (min-width: $screen-md-min) {
      width: 50%;
    }
  }

  .title-pricing {
    font-size: 3em;
    margin-top: 30px;
  }

  p {
    margin-top: 0;
  }

  button {
    padding: 15px;
    height: 80px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 30px 0 40px;
  }
}

.about {
  overflow: auto;
  background: url("/assets/image/_dsc0763.jpg") no-repeat fixed center;
  background-size: cover;
  padding: 50px;

  .about-content {
    width: 450px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.3);

    span {
      font-size: 3em;
    }

    .signature {
      text-align: right;
      font-family: "Raisin des Sables";
      font-size: 2em;
      line-height: 1em;
    }
  }
}

.contact {
  height: 500px;
  background-color: #0a0a0a;
  color: white;
}

.follow {
  height: 300px;
  background-color: white;
}

.footer {
  height: 100px;
  background-color: rgb(30,30,30);
}

.arrow {
  position: fixed;
  background: $arrow-up no-repeat;
  background-size: 100%;
  width: 70px;
  height: 70px;
  bottom: -90px;
  right: 20px;
  transition: all 1s;

  &.show {
    bottom: 20px;
  }
}
